{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "testFramework":"phpunit",
    "bootstrap": "./vendor/autoload.php",
    "logs": {
        "text": "infection.log"
    }
}
